@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);

body {
	font-family: 'Droid Serif';
}
h1, h2, h3 {
	font-family: 'Yanone Kaffeesatz';
	font-weight: normal;
}
h1, h2 {
	border-bottom: 0.1em solid red;
}
.title h1, .inverse h1 {
	padding-bottom: 0.5em;
}
.title h2, .inverse h2 {
	border: none;
}
.inverse {
	background: #272822;
	color: #777872;
	text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2 {
	color: #f3f3f3;
	line-height: 0.8em;
}
.inverse a {
	color: #ecc;
}
.inverse a:visited {
	color: #ddd;
}
.smaller {
	font-size: 70%;
}
.center, .fill {
	text-align: center;
}
.fill {
	display: block;
}
.fill img {
	/* percentage heights don't work for some reason */
	/*
	max-width: 100%;
	max-height: 80%;
	*/
	max-height: 22em;
	max-width: 100%;
	object-fit: fill;
}
li {
	margin: 1em 0;
}
li > ul > li {
	font-size: 80%;
	color: #666;
}
a, a:visited
{
	color: #b40004;
}
.remark-inline-code,
.remark-code-line {
	background: #eee;
}
.remark-inline-code {
	padding: 0.1em 0.3em;
	font-size: 80%;
}
.remark-code-line {
	white-space: pre-wrap;
	line-height: 150%;
	padding: 0 0.5em 0 1.5em;
	margin: 0.5em;
	position: relative;
	text-indent: -1em;
	background: #eee;
}
.pre-compact .remark-code-line {
	margin: 0;
	padding: 0 0.1em;
	text-indent: 0;
}
.remark-code-line:empty {
	display: none;
}
.sh .remark-code-line {
	margin-left: 1.5em;
	color: #804;
}
.sh .remark-code-line:before {
	content: '\25B8';
	position: absolute;
	left: -1em;
}
li > ul, .small ul, .small .remark-code-line {
	font-size: 110%;
}
li > ul > li, .small li {
	margin: 0.7em 0;
}
.height_8em img {
	max-height: 8em;
	max-width: 100%;
}
.height_12em img {
	max-height: 12em;
	max-width: 100%;
}
.height_18em img {
	max-height: 18em;
	max-width: 100%;
}
blockquote {
	background: #fee;
	margin: 0;
	padding: 0.5em 1em;
	border-left: 0.2em solid red;
}
.red {
	color: red;
}

