<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
     "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<link rel="stylesheet" href="../workshop.css" type="text/css">
	<link rel="copyright" title="Copyright and Usage Restrictions"
		href="../00readme.html" type="text/html">
	<link rel="home" title="AfNOG Workshop web site"
		href="http://www.ws.afnog.org/" type="text/html">
	<link rel="up" title="AfNOG {{page.year}} Workshop Main Page"
		href="../index.html" type="text/html">
	<title>SS-E - AfNOG {{page.year}} Workshop</title>
	<!--
	Showdown - Markdown in Javascript
	from http://www.showdown.im/
	-->
	<script type="text/javascript" src="showdown.js"></script>
	<style>
h2, a, a.visited
{
	color: #b40004;
}
h2, .bottomlinks
{
	/*
	font-family: "Impact";
	font-weight: normal;
	*/
	border-top: 4px solid #b40004;
	margin-top: 1em;
	padding-top: 1em;
}
h3 { margin: 1em 0 0.2em; }
.formatted > *
{
	margin-left: 5%;
}
.formatted > h2
{
	margin-left: 0;
}
/*
p { margin: 0 0 1em; }
*/
table, td, th
{
	border: 1px solid #dce7ed;
	border-collapse: collapse;
}
table
{
	border-width: 2px;
}
th, td
{
	padding: 0.3em 0.5em;
}
th
{
	background: #dce7ed;
}
.timetable td
{
	background: white;
}
.timetable tr.break td
{
	background: white;
	text-align: center;
	color: #dce7ed;
}
.timetable .time
{
	font-weight: bold;
}
/*
.session
{
	border-bottom: 1px solid #b40004;
}
*/
h3
{
	border: 4px solid #b40004;
	border-style: none none none solid;
	background: #ecc0c1;
	padding: 0.5em;
}
.presenter
{
	border: 4px solid #d98082;
	border-style: none none none solid;
	padding: 0.5em;
	margin: 0.5em 0;
}
h3
{
	border-style: none none solid none;
}
.presenter
{
	display: block;
	font-weight: bold;
	/*background: #f5e0e1;*/
}
h3
{
	margin: 0;
}
h4
{
	border: 4px solid #ecc0c1;
	border-style: none none solid none;
	padding: 0.5em;
	padding-left: 0;
	margin: 1em 0 0;
}
.topics
{
	margin: 0 0 0.5em;
	border: 4px solid #ecc0c1;
	border-style: none none none solid;
	padding: 0.5em;
	list-style-type: none;
}
.materials
{
	border-left: 4px solid #ecc0c1;
	list-style-type: none;	
	margin: 0 0 1em;
	padding: 0.5em;
}
.materials a
{
	display: block;
}
.topics
{
	border-color: #dce7ed;
}
	</style>
</head>
<body>

<div class="arrowlinks">
  <a href="http://www.afnog.org/">AfNOG</a>
  &gt;
  <a href="http://www.ws.afnog.org/">Workshops</a>
  &gt;
  <a href="../index.html">2012</a>
  &gt;
  Track SS-E &mdash; Scalable Internet Services
</div>

<hr>

<h1 class="topcontext"><a href="../index.html">AfNOG {{page.year}}
Workshop on Network Technology</a></h1>
 
<h1 class="topheader">Track SS-E</h1>
<h1 class="topheader">Scalable Internet Services</h1>

<div class="formatted">

<h2><a name="intro"></a>Introduction</h2>

<p>This course on Scalable Internet Services
is part of the
<a href="../index.html">AfNOG {{page.year}} Workshop on Network Technology</a>,
held in conjunction with the
<a href="http://www.afnog.org/">AfNOG</a>
meeting in Serrekunda, Gambia, in May 2012.</p>

<p>We use hands-on training in a well-equipped classroom
over a five-day period to teach skills required for the
configuration and operation of large scale Internet services.
</p>

<h4>Who should attend</h4>
<p>
Technical staff who are now providing Internet Services, 
or those who will
be involved in the establishment and/or provisioning of a basic national
Internet Services in the country.
</p>

<h4>Prerequisites</h4>
<p>
Experience using and administering *NIX Servers, Name Servers, Web Servers and Mail Servers.
</p>

<h2>Instructors</h2>

<!-- sorted by surname -->

<table class="instructors">
	<thead><tr><th>Name</th><th>Initials</th><th>From</th></tr></thead>
	<tbody>
		<tr id="JA"> <td>Joe Abley</td>      <td>JA</td> <td>Canada</td> </tr>
		<tr id="BC"> <td>Brian Candler</td>  <td>BC</td> <td>UK</td> </tr>
		<tr id="JJ"> <td>Joel Jaeggli</td>   <td>JJ</td> <td>US</td> </tr>
		<tr id="FK"> <td>Frank Kuse</td>     <td>FK</td> <td>Ghana</td> </tr>
		<tr id="MM"> <td>Michuki Mwangi</td> <td>MM</td> <td>Kenya</td> </tr>
		<tr id="CW"> <td>Chris Wilson</td>   <td>CW</td> <td>UK</td> </tr>
		<tr id="KC"> <td>Kevin Chege</td>    <td>KC</td> <td>Kenya</td> </tr>
		<tr id="CF"> <td>Chimwemwe Frederick</td>
			<td>CF</td> <td>Malawi</td> </tr>
	</tbody>
</table>

<h2><a name="participants"></a>Participants</h2>

<!-- sorted by surname -->

<pre>
o Pa Ali Nyang				-	KENYA	   
o Ghislain Nkeramugaba			-	Rwanda	   
o Kwabena Gyekye-Koranteng		-	GHANA	   
o Jeng	Njie				-	Gambia	   
o Nicholas Wambui Muchiri		-	KENYA	   
o Jainaba Sissoho			-	Gambia	   
o Seidu	Njie				-	Gambia	   
o Njemmeh Jeng Njie			-	Gambia	   
o Ousainou Darboe			-	Gambia	   
o Momodou Alieu	Jallow			-	Gambia	   
o Fanta	Bouba				-	TCHAD	   
o Momodou Lamin	Sanyang			-	Gambia	   
o Aminayanasam	Omineokuma		-	Nigeria
o Kumba	kuyateh				-	Gambia	   
o Greystone Chakhumata			-	Malawi	   
o Pa Lamin Jobarteh			-	Gambia	   
o Abdoulie Faal				-	Gambia	   
o Lama	Jallow				-	Gambia	   
o Ayodeji Ojo				-	NIGERIA	   
o Malick JOBE				-	Gambia	   
o Christian Ahiauzu			-	NIGERIA	   
o Lamin K. Sonko			-	Gambia	   
o Yahaar Ndow				-	Gambia	   
o Ousainou Darboe			-	Gambia	   
o Samba	Njie				-	Gambia	 
o Tlali Mamothokoane			-	LESOTHO	 
</pre>

<h2><a name="timetable">Timetable</a></h2>

<table class="timetable" width="80%">
	<colgroup>
		<col width="10%" />
		<col width="10%" />
		<col width="10%" />
		<col width="10%" />
		<col width="10%" />
		<col width="10%" />
	</colgroup>
	<thead>
		<tr>
			<th></th>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="time">
				09:00-11:00
			</td>
			<td class="mon">
				<a href="#introduction">SSE Intro</a>
			</td>
			<td class="tue">
				<a href="#dns">DNS</a>
			</td>
			<td class="wed">
				<a href="#dns">DNS</a>
			</td>
			<td class="thu">
				<a href="#exim">Exim</a>
			</td>
			<td class="fri">
				<a href="#exim">Exim</a>
			</td>
		</tr>
		<tr class="break">
			<td></td>
			<td colspan="5">Tea Break</td>
		</tr>
		<tr>
			<td class="time">
				11:30-13:00
			</td>
			<td class="mon">
				<a href="#dns">DNS</a>
			</td>
			<td class="tue">
				<a href="#dns">DNS</a>
			</td>
			<td class="wed">
				<a href="#dns">DNS</a>
			</td>
			<td class="thu">
				<a href="#monitoring">Monitoring</a>
			</td>
			<td class="fri">
				<a href="#dnssec">DNSSEC</a>
			</td>
		</tr>
		<tr class="break">
			<td></td>
			<td colspan="5">Lunch</td>
		</tr>
		<tr>
			<td class="time">
				14:00-16:00
			</td>
			<td class="mon">
				<a href="#apache">Apache</a>
			</td>
			<td class="tue">
				<a href="#apache">Apache</a>
			</td>
			<td class="wed">
				<a href="#virtualization">Virtualization</a><br />
				<a href="#loadbalancing">Load Balancing</a>
			</td>
			<td class="thu">
				<a href="#dnssec">DNSSEC</a>
			</td>
			<td class="fri">
				<a href="#securityandavailability">Security and Availability</a>
			</td>
		</tr>
		<tr class="break">
			<td></td>
			<td colspan="5">Tea Break</td>
		</tr>
		<tr>
			<td class="time">
				16:30-18:30
			</td>
			<td class="mon">
				<a href="#radius">RADIUS</a>
			</td>
			<td class="tue">
				<a href="#virtualization">Virtualization</a>
			</td>
			<td class="wed">
				<a href="#backup">Backup</a>
			</td>
			<td class="thu">
				<a href="#loadbalancing">Load Balancing</a>
			</td>
			<td class="fri">
				<a href="#scalingmailservices">Scaling mail services</a><br />
				<a href="#closingsurvey">Closing Survey</a>
			</td>
		</tr>
		<tr class="break">
			<td></td>
			<td colspan="5">Dinner</td>
		</tr>
		<tr>
			<td class="time">
				Evening Sessions (20:00-22:00)
			</td>
			<td colspan="3">Helpdesk</td>
			<td class="thu">Closed</td>
			<td class="fri">Closed</td>
		</tr>
	</tbody>
</table>

<h2><a name="details">Details</a></h2>

<div id="markdown">

### Introduction

<a class="presenter" href="#FK">Frank Kuse</a>

<div class="materials">
	<a href="intro/welcome-slide.pdf">Presentation</a>
	<a href="http://www.surveymonkey.com/s/8QNGCZZ">Topic Survey</a>
</div>

### DNS

<a class="presenter" href="#JA">Joe Abley</a>

#### Fundamentals

<div class="materials">
	<a href="dns/dns1-presentation.ppt">PowerPoint</a>
	<a href="dns/dns1-presentation.pdf">PDF</a>
	<a href="dns/dns1-exercise.txt">Exercise</a>
</div>

Goal: to understand overall purpose and structure of DNS

+ IP addresses vs. names
+ DNS as a distributed, hierarchical database
+ Domain names and resource records:
  - A, PTR, MX, CNAME, TXT, SOA/NS
+ Domain name lookup responses
+ Reverse DNS
+ DNS as client-server model
  - Resolver
  - Cache
  - Authoritative server
+ Testing DNS (dig)
+ Understanding output from dig 
+ Practical Exercises:
  - Configure Unix resolver
  - Use dig { A, other (e.g. MX), non-existent answer, reverse lookup }
  - Use tcpdump to show queries being sent to cache

#### DNS Caching and Debugging

<div class="materials">
	<a href="dns/dns2-presentation.ppt">PowerPoint</a>
	<a href="dns/dns2-presentation.pdf">PDF</a>
	<a href="dns/dns2-exercise1.txt">Exercise 1</a>
	<a href="dns/dns2-exercise2.txt">Exercise 2</a>
	<a href="dns/dns2-exercise3.txt">Exercise 3</a>
</div>

Goal: to understand operation of a recursive nameserver

+ Recap of previous session
+ DNS as a distributed database.
+ Resource record NS: referral of answer
+ Caching nameserver and root servers
+ Caching used to reduce load (esp. top level servers)
+ Issue of stale data in caches (problems with distributed systems).
  - TTL records on each record
  - Negative TTL in SOA
+ Recursion and caching (dig +norec)
+ Demo: www.ticscali.co.uk
+ Practical Exercise:
  - Debugging DNS Worksheet (with dig +norec ):
    . Students work on their own examples
+ Configuring a caching nameserver 
  - check /var/named/etc/namedb/named.conf
  - run tcpdump
  - rndc start
  - change /etc/resolv.conf to point to your nameserver
  - query two times - { Look at 'aa' flag, TTL, query time }
  - rndc flush
  - cache is authoritative for 127.0.0.1
+ What sort of hardware would you choosing when building a DNS cache?		
+ Improving the configuration of a cache NS 
+ Managing a caching nameserver 
+ Practical Exercise:
  - Building your own cache nameserver
  - Improving the configuration of the cache NS
+ Question and Answer session
+ Summary

#### Configuring Authoritative Name Servers

<div class="materials">
	<a href="dns/dns3-presentation.ppt">PowerPoint</a>
	<a href="dns/dns3-presentation.pdf">PDF</a>
</div>

Goal: to properly configure an authoritative nameserver	

+ Recap of caching NS	
+ DNS Replication 
+ Outside world cannot tell the difference between master and slave 
+ When does replication take place? 
+ Two (2) Dangers with serial numbers 
+ Configuration of Master & Slave NS 
  - Format of Resource Records { SOA and NS } 
+ Ten (10) Common DNS Operational and Configuration Errors (RFC1912) 

#### Exercises

<div class="materials">
	<a href="dns/dns3-exercise.txt">Exercise</a>
</div>

Setting up authoritative name services for a domain

+ Master & Slave nameserver exercises 

#### Delegation and Reverse DNS

<div class="materials">
	<a href="dns/dns4-presentation.ppt">PowerPoint</a>
	<a href="dns/dns4-presentation.pdf">PDF</a>
</div>

+ How do you delegate a subdomain?
+ Glue records
+ Reverse DNS
  - Subnets smaller than /24
+ DNS Landmarks
  - Key organisations and people
+ The Root Zone
+ Top-Level Domains
  - Generic and Country Code TLDs
+ Registries, Registrars, Registrants
+ Nameserver Vendors
+ Conferences, Industry Groups
+ Mailing Lists
+ DNS Summary
+ Further reading

### DNSSEC

<a class="presenter" href="#JA">Joe Abley</a>

<div class="materials">
	<a href="dns/DNSSEC_High-Level_Awareness.pdf">Presentation/PDF</a>
	<a href="dns/DNSSEC_High-Level_Awareness.key">Presentation/Keynote</a>
</div>

DNSSEC High Level Awareness

### RADIUS

<a class="presenter" href="#FK">Frank Kuse</a>

<div class="materials">
	<a href="radius/radius.odp">Presentation/OpenOffice</a>
	<a href="radius/radius.pdf">Presentation/PDF</a>
</div>

### Apache

<a class="presenter" href="#KC">Kevin Chege</a>

<div class="materials">
	<a href="apache/apache-1.pdf">Presentation/PDF</a>
	<a href="apache/apache-1.ppt">Presentation/PowerPoint</a>
	<a href="apache/Installing-and-Configure-Wordpress.docx">Installing and Configure Wordpress/Word</a>
	<a href="apache/Installing-and-Configure-Wordpress.pdf">Installing and Configure Wordpress/PDF</a>
	<a href="apache/Working-with-Distfiles.pdf">Working-with-Distfiles/PDF</a>
	<a href="apache/apache_sse_exercises-pt1.pdf">Exercise/PDF</a>
	<a href="apache/apache_sse_exercises-pt1.doc">Exercise/Word</a>
</div>

+ Installing Apache22 from FreeBSD ports
+ Configure Apache with basic configuration 
+ Start Apache httpsd daemon and connect to local box
+ Verify local ssl certificate works 
+ Configuring Apache with SSL 
+ Example SSL Apache configuration file 
+ Sample config for Virtual Hosting	

### Virtualization 

<a class="presenter" href="#JJ">Joel Jaeggli</a>

<div class="materials">
	<a href="virtualisation/sse-virtualization-overview-2012.pdf">Presentation/PDF</a>
	<a href="virtualisation/sse-virtualization-overview-2012.odp">Presentation/OpenOffice</a>
	<a href="https://www.virtualbox.org/wiki/Downloads">VirtualBox Downloads</a>
</div>

### Load Balancing

<a class="presenter" href="#JJ">Joel Jaeggli</a>

<div class="materials">
	<a href="loadbalancing/sse-LB-overview.pdf">Presentation/PDF</a>
	<a href="loadbalancing/sse-LB-overview.odp">Presentation/OpenOffice</a>
	<a href="loadbalancing/ha-proxy-install.txt">Exercise</a>
</div>

### Backup

<a class="presenter" href="#CW">Chris Wilson</a>

<div class="materials">
	<a href="backup/afnog-2012-backup-presentation.pdf">Presentation/PDF</a>
	<a href="backup/afnog-2012-backup-presentation.odp">Presentation/OpenOffice</a>
</div>

+ Why bother with backups?
  + User error
  + Major disaster
+ Different requirements
+ Complicating factors
+ The plan
+ Backing up everything
+ Types of backups
  - Full, Differential, Incremental
+ Backing up files and systems
+ Software options
  - FreeBSD UFS snapshots
  - rsync
    . local and remote
  - tar
  - dump
  - Amanda server
  - duplicity

### Monitoring

<a class="presenter" href="#BC">Brian Candler</a>

<div class="materials">
	<a href="monitoring/nmm-lite.ppt">Introduction to Networking Monitoring and Management</a>
	<a href="monitoring/network-management.ppt">Network Management Presentation</a>
	<a href="monitoring/cacti.pdf">Cacti Presentation</a>
	<a href="monitoring/cacti-exercise.txt">Cacti Exercise</a>
	<a href="monitoring/openNMS.pptx">OpenNMS</a>
	<a href="monitoring/snmp.ppt">SNMP</a>
	<a href="monitoring/snmp-exercise.txt">SNMP exercise</a>
	<a href="monitoring/sse-monitoring-and-instrumentation-jaeggli.odp">SSE Monitoring and Instrumentation/OpenOffice</a>
	<a href="monitoring/sse-monitoring-and-instrumentation-jaeggli.odp">SSE Monitoring and Instrumentation/PDF</a>
</div>

### Exim

<a class="presenter" href="#CF">Chimwemwe Frederick</a>

<div class="materials">
	<a href="exim/email_introduction_Afnog_2012.ppt">Presentation/PowerPoint</a>
</div>

+ Email Introduction
	+ How Email Appears to Work
	+ How Email Really Works
	+ Mail User Agent (MUA)‏
	+ Mail Delivery Agent (MDA)
	+ Mail Transfer Agent (MTA)‏
	+ Email Queue
	+ MTA to MTA Transfer
	+ DNS resolution and transfer process
	+ Delivery
	+ Troubleshooting Email Issues
	+ RFCs
+ Exim Introduction
	+ What is Exim?
	+ Who uses Exim?
	+ Why use Exim?
	+ Why not to use Exim?
	+ Installing Exim
	+ The Exim Game

<a class="presenter" href="#CW">Chris Wilson</a>

<div class="materials">
	<a href="exim/afnog-2012-exim-presentation-120508.pdf">Presentation/PDF</a>
	<a href="exim/afnog-2012-exim-presentation.odp">Presentation/OpenOffice</a>
	<a href="exim/eicar">EICAR Anti-Virus Test File</a>
	<a href="exim/spam.txt">Sample spam message</a>
</div>

Exim and Internet Mail

+ What is Exim?
+ Who uses Exim?
+ Why use Exim?
+ Why not to use Exim?
+ Root and sudo
+ Exim Overview
  + SMTP commands and Access Control
  + Queueing and bouncing
  + Backup/secondary mail exchangers
+ The Exim configuration file
  + Global settings
  + Relaying for domains and hosts
+ Sending your first email (by hand)

### Mail

<a class="presenter" href="#MM">Michuki Mwangi</a>

#### Dovecot with Virtual Users

<div class="materials">
	<a href="mail/dovecot-cover.pdf">Presentation/PDF</a>
	<a href="mail/dovecot-cover.ppt">Presentation/PowerPoint</a>
	<a href="mail/dovecot-sql.conf">Dovecot-sql.conf configuration file</a>
	<a href="mail/dovecot-mysql-schema.sql">Dovecot Basic Mysql Schema</a>
</div>

+ Dovecot - Server for POP and IMAP
  - What is Dovecot?
  - Installing dovecot from ports
  - Configuring Dovecot

#### Webmail using Squirrelmail

<div class="materials">
	<a href="mail/squirrelmail.pdf">Presentation/PDF</a>
	<a href="mail/squirrelmail.ppt">Presentation/PowerPoint</a>
</div>

#### Scaling mail services

<div class="materials">
	<a href="mail/clustering.htm">Mail Server Clustering</a>
	<a href="mail/scalability.htm">Mail Server Scalability</a>
</div>

+ Mailserver scalability
  - Linear password files 
  - Linear mbox files 
  - Too many files in one directory 
  - CPU limits 
  - Disk performance 
  - Keep your SMTP (smarthost) and POP3 services separate 
+ Notes and Clustering and NFS
  - Using Network File System (NFS)
  - Using Proxies 
  - Load balancing 
  - Database backends
  - FreeBSD NFS 

### Security and Availability

<a class="presenter" href="#JJ">Joel Jaeggli</a>

<div class="materials">
	<a href="security/sse-sec-and-availability.pdf">Presentation/PDF</a>
	<a href="security/sse-sec-and-availability.odp">Presentation/ODP</a>
</div>

### Closing Survey

<a class="presenter" href="#JJ">Joel Jaeggli</a>

<div class="materials">
	<a href="http://www.surveymonkey.com/s/7TD2J7T">Survey link (online)</a>
	<a href="SurveyMonkey-Survey-Results.pdf">Survey results (PDF)</a>
</div>

</div><!-- markdown -->

</div><!-- formatted -->

<script type="text/javascript">
var converter = new Showdown.converter();
var markdownArea = document.getElementById('markdown');
markdownArea.innerHTML = converter.makeHtml(markdownArea.innerHTML);
</script>

<div class="bottomlinks">
<p><a href="../index.html">Return to AfNOG Workshop Main Page</a></p>
</div>

</body>
</html>

